@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-special {
    background:
      linear-gradient(red, transparent),
      linear-gradient(to top left, lime, transparent),
      linear-gradient(to top right, blue, transparent);
    background-blend-mode: screen;
  }
}
